@model IEnumerable<Mvc6MovieTutorial.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h2>Favourite Movie DB</h2>

@Html.AntiForgeryToken()
<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Movies" asp-action="Index" method="get" role="form">
   <p>
       Genre: @Html.DropDownList("movieGenre", "All")
       Title: <input type="text" name="SearchString" />
       <input type="submit" value="Filter" class="btn btn-primary" />
   </p>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-success">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-info">Details</a> |
            <div class="delete-section">
                <a class="delete-link btn btn-sm btn-danger" href="@Url.Action("Delete", new { id = item.ID })">Delete</a>
                <div class="btn btn-sm btn-primary delete-confirm" data-delete-id="@item.ID">Confirm Delete</div>
            </div>
        </td>
    </tr>
}
</table>
